.movie-container{
    display: flex;
}

.movie-container > div{
    flex: 1;
    margin: 5px;
    padding: 10px;
}

.movie-container > img{
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    height: 180px;
    overflow: hidden;
}

.movie-container > h1, h2, h3, h4, h5, h6 {
  color: #000;
}

.movielink {
  text-decoration: none;
}
.movielink a {
  font-weight: 200;
  font-size: 14px;
  text-decoration: none;
  color: #D194D6;
  text-decoration: underline 0.15em rgba(247, 188, 185, 0);
  transition: text-decoration-color 300ms;
}
.movielink a:visited {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
.movielink a:hover {
  color:  rgb(219, 185, 247, 1);
  text-decoration-color: rgb(219, 185, 247, 1);
  text-decoration: underline;
}
.movielink a:active {
  color: #D194D6;
}