.review {
    margin: auto;
    background-color: #D194D6;
    color: black;
    border-radius: 10px;
    max-width: 700px;
    min-width: 10%;
    margin-bottom: 20px;
}

.review > * {
    padding: 20px;
}

.padded{
    padding: 10px;
}
.review-hearts{
    padding: 1%;
    margin: 10px;
}

.review-account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px black dotted;
}

.user-pfp {
    height: 60px;
    width: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50px;
}

.helpful-box {
    display: flex;
    align-items: center;
    /* justify-content: end; */
    margin-left: 0;
    padding: 20px;
}