.userBio{
    background-color: #edc5da;
    width: 100%;
}

.reviewSection{
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: 0%;
    left: 0%;
    right: 0%;
}

.user-pfp {
    height: 60px;
    width: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50px;
}

.userButton{
    width: 100%;
    margin-top: 20px;
}

/* .detail-block {
    padding: 10px;
}

.detail-block > * {
    color: black;
} */

.center {
    margin: 0 auto;
    width: 80%;
}