.header {
  background-color: rgb(33, 27, 35);
  height: 80px;
  text-align: center;
  width: 100%;
}

.pagediv{
  padding-top: 75px;
  /* IF YOU WANT THE BACKGROUND COLOR ON ALL PAGES TO BE WHITE, REMOVE THIS */
  /* background-color: #040001; */
}

button, .button {
  background-color: rgba(244, 234, 241, 1);
  border: 2px #D68D97 solid;
  color: rgba(214,141,151,.5);
  padding: .5em;
  text-align: center;
  text-decoration: none;
  margin: 0 .75em;
  display: inline-block;
  transition: color 300ms linear;
  border-radius: 10px;
}

button:hover, .button:hover {
  cursor: pointer;
  color: #D68D97;
  background-color: #F4EAF1;
  transition: color 300ms linear;
}