body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4EAF1;
}

h1, h2, h3, h4, h5, h6 {
  padding: 5px;
  font-family: 'Satisfy', cursive;
  color: #EDC7DF;
  font-style: normal;
  width: fit-content;
}

a{
  width: max-content;
}

a:hover{
  width: max-content;
}

a:active{
  width: max-content;
}

html {
  font-family: 'Roboto Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline {
  display: inline-block;
}


#container {
  position: relative;
  width: fit-content;
}
#navi,
#infoi {
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
}


/* navbar */
nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: max-content;
}
nav a {
  margin-top: 10px;
  padding-top: 10px;
  font-weight: 200;
  font-size: 14px;
  text-decoration: none;
  color: rgb(247, 188, 185);
  text-decoration: underline 0.15em rgba(247, 188, 185, 0);
  transition: text-decoration-color 300ms;
  width: max-content;
}
nav a:visited {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  width: max-content;
}
nav a:hover {
  color:  rgb(219, 185, 247, 1);
  text-decoration-color: rgb(219, 185, 247, 1);
  text-decoration: underline;
  width: max-content;
}
nav a:active {
  color: #c44c84;
  width: max-content;
}

nav button {
  background: rgba(255, 255, 255, 0);
  color: rgba(204, 161, 214, 0.5);
  border: 2px solid #CCa1D6;
  padding: 6px 10px;
  border-radius: 15px;
  font-family: "Poppins", 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1em;
  transition: color 300ms linear;
  margin-left: 10px;
}

nav button:hover {
  background: rgba(255, 255, 255, 0);
  color: rgb(219, 185, 247, 1);
  border: 2px solid #DBB9F7;
  cursor: pointer;
  transition: color 300ms linear;
}