body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Belgrano', serif;
  background-color: #040001;
}

a, p, button, div {
  font-family: 'Belgrano', serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 5px;
  font-family: 'Satisfy', cursive;
  color: #EDC7DF;
  font-style: normal;
  width: fit-content;
}

.spacecol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup, .login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background: rgb(240, 217, 233);
  border-radius: 10px;
}

a{
  width: max-content;
}

a:hover{
  width: max-content;
}

a:active{
  width: max-content;
}

html {
  font-family: 'Roboto Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline {
  display: inline-block;
}